.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 22%;
  color: #fff;
  margin-bottom: 1.4em;
}

.card:hover {
    cursor: pointer;
    position: relative;
    margin-top: -20px;
}

.card .image {
    border-radius: 1em;
    box-shadow: 5px 5px 12px rgba(90, 0, 0, 0.5);
    padding: 2em 1em;
    width: 90%;
    text-align: center;
}

.desc_container {
    padding: 0 1em;
}

.card .id {
    margin: .5em 0;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;    
    color: #aaa;
    font-weight: bold;
    font-size: 1.2em;
}

.card .title {
    text-transform: capitalize;
    font-size: 1.4em;
    color: #222;
    font-weight: 700;
}

.card .btn {
    text-decoration: none;
    background-color: #FFF;
    color: #222;
    padding: .7em 1.2em;
    border-radius: 5px;
    font-weight: bold;
    transition: .4s;
}

.card .btn:hover {
    background-color: #e33d33;
    color: #FFF;
}